foundations/JavaScript-part-2.html
foundations/landing-page-project/icon8-test.css
foundations/landing-page-project/icon8-test.html
.DS_Store
foundations/.DS_Store

javascript-exercises
javascript-exercises
rock-paper-scissors/rock-paper-scissors.code-workspace
rock-paper-scissors/.vscode/settings.json
