@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

@media (min-width: 18rem) {
	:root {
		/** Fluid typeography courtesy of ******************************/
		/** https://websemantics.uk/tools/responsive-font-calculator/ **/
		/*! used to calculate padding, border radius, etc., too !***/
		/* 1rem(16px) @ 18rem(288px) increasing to 1.375rem(22px) @ 90rem(1440px) */
		--font-size: calc(1rem + ((1vw - 0.18rem) * 0.5208));
		/* Where: 0.5208 = 100 * font-size_difference / viewport_width_difference */
		/* Safari resize fix */
		min-height: 0vw;
	}
}
/* Prevent scaling beyond this breakpoint */
@media (min-width: 90rem) {
	:root {
		--font-size: 1.375rem;
	}
}

:root {
	/** Colors inspired by Open Color *******/
	/** https://yeun.github.io/open-color/ **/

	--gray-9: hsl(210, 11%, 15%);
	--gray-8: hsl(210, 10%, 23%);
	--gray-7: hsl(210, 9%, 31%);
	--gray-5: hsl(210, 11%, 71%);
	--gray-3: hsl(210, 14%, 89%);
	--gray-2: hsl(210, 16%, 93%);

	--indigo-7: hsl(228, 81%, 59%);
	--indigo-5: hsl(228, 94%, 67%);
	--indigo-3: hsl(228, 100%, 78%);

	/* --orange-5: hsl(29, 100%, 58%); */
	--orange-5: hsl(29, 80%, 58%);
	--orange-3: hsl(32, 100%, 74%);

	--font-family: 'Oxanium', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
		Cantarell, Noto Sans, sans-serif;

	--size-btn-lg: calc(var(--font-size) * 4);
	--size-btn-md: calc(var(--font-size) * 2.5);
	--size-btn-sm: calc(var(--font-size) * 2);
	--size-btn-xs: calc(var(--font-size) * 1.75);

	--size-spacing-xl: calc(var(--font-size) * 1);
	--size-spacing-lg: calc(var(--font-size) * 0.75);
	--size-spacing-md: calc(var(--font-size) * 0.5);
	--size-spacing-sm: calc(var(--font-size) * 0.375);
	--size-spacing-xs: calc(var(--font-size) * 0.25);
	--size-spacing-xxs: calc(var(--font-size) * 0.125);

	--transition-time: 40ms;
}

/*** "light--hidden" elements will be hidden **/
/*** when the site is set to Light Mode *******/
:root[data-theme='light'] .light--hidden {
	display: none;
}

/*** "dark--hidden" elements will be hidden ***/
/*** when the site is set to Dark Mode ********/
:root[data-theme='dark'] .dark--hidden {
	display: none;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-family: var(--font-family);
	font-weight: 700;

	/* border: 1px dotted #ffd43b !important; */
}

html[data-theme='light'] {
	--color-bg-body: var(--gray-2);
	--color-bg-main: var(--indigo-5);
	--color-bg-readout: var(--gray-7);
	--color-bg-num-btn: var(--gray-3);
	--color-bg-oper-btn: var(--orange-3);
	--color-bg-func-btn: var(--indigo-3);

	--color-text-1: var(--gray-8);
	--color-text-2: var(--gray-2);
	--color-text-3: var(--indigo-3);
}

html[data-theme='dark'] {
	--color-bg-body: var(--gray-9);
	--color-bg-main: var(--indigo-7);
	--color-bg-readout: var(--gray-5);
	--color-bg-num-btn: var(--gray-7);
	--color-bg-oper-btn: var(--orange-5);
	--color-bg-func-btn: var(--indigo-5);

	--color-text-1: var(--gray-3);
	--color-text-2: var(--gray-9);
	--color-text-3: var(--indigo-7);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: var(--color-bg-body);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main {
	margin: var(--size-spacing-xl);
	padding: var(--size-spacing-lg);
	border-radius: var(--size-spacing-sm);
	background-color: var(--color-bg-main);

	display: flex;
	flex-direction: column;
	gap: var(--size-spacing-lg) 0;
}

svg {
	background-color: inherit;
	stroke: var(--color-text-1);
	stroke-width: 0;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;

	height: var(--size-btn-lg);

	cursor: pointer;
	outline: none;
	border: none;

	background-color: var(--color-bg-num-btn);
	border-radius: var(--size-spacing-xs);
	fill: var(--color-text-1);

	transition: all var(--transition-time);
}

button.operator {
	background-color: var(--color-bg-oper-btn);
}

button.function {
	background-color: var(--color-bg-func-btn);
}

button > svg {
	height: var(--size-btn-lg);
	width: var(--size-btn-lg);
	border-radius: inherit;
	stroke-width: 0px;
}

button.operator > svg,
button.function > svg {
	height: var(--size-btn-md);
	width: var(--size-btn-md);
}

button.operator > svg {
	stroke: var(--color-text-1);
	stroke-width: 1px;
}

button.active,
button:hover {
	background-color: var(--color-text-1);
}

button.active > svg,
button:hover > svg {
	stroke: var(--color-text-2);
	fill: var(--color-text-2);
	pointer-events: none;
}

.buttons-container {
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(4, var(--size-btn-lg));
	grid-template-rows: repeat(5, var(--size-btn-lg));
	gap: var(--size-spacing-lg);
}

.header-svg {
	height: var(--size-btn-xs);
	width: var(--size-btn-xs);
	background-color: inherit;
	stroke-width: 0px;
}

.header-svg:active,
.header-svg:hover {
	fill: inherit;
	fill: var(--color-text-2);
}

.header-btn {
	height: var(--size-btn-sm);
	width: var(--size-btn-sm);
	padding: var(--size-spacing-xxs);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--size-spacing-xs);

	background-color: inherit;
}

.header-btn:active,
.header-btn:hover {
	background-color: inherit;
}

.heading {
	margin: var(--size-spacing-md) var(--size-spacing-xxs) var(--size-spacing-xxs);
	color: var(--color-text-2);
	font-size: var(--size-btn-sm);
}

.readout {
	grid-column: span 4;
	background-color: var(--color-bg-readout);
	border-radius: var(--size-spacing-sm);
	padding: 0;
	height: fit-content;
}

.previous-operand,
.current-operand {
	letter-spacing: var(--size-spacing-xxs);
	text-align: right;
	word-wrap: break-word;
	word-break: break-all;
}

.previous-operand {
	color: var(--color-text-3);
	font-size: calc(var(--font-size) * 1.125);
	min-height: calc(var(--font-size) * 1.375);
	margin: var(--size-spacing-xs) var(--size-spacing-md) 0;
}

.current-operand {
	color: var(--color-text-2);
	font-size: calc(var(--font-size) * 2.5);
	min-height: calc(var(--font-size) * 3.25);
	/* Setting bottom margin to NEGATIVE value to decrease unsightly extra space */
	margin: 0 var(--size-spacing-md) calc(var(--font-size) * -0.25);
}

.double-wide {
	grid-column: span 2;
}

.light--hidden > svg,
.dark--hidden > svg {
	fill: var(--color-text-1);
	border-radius: inherit;
}
