@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import 'https://unpkg.com/open-props';
/* @import 'https://unpkg.com/open-props/normalize.min.css'; */
/* @import 'open-props/colors-hsl'; */

:root {
	/* color-scheme: light dark; */
	--font-family: 'Oxanium', var(--font-sans);
}

/* 0.9375rem(15px) @ 18rem(288px) increasing to 1.375rem(22px) @ 90rem(1440px) */
@media (min-width: 18rem) {
	:root {
		--font-size: calc(0.9375rem + ((1vw - 0.18rem) * 0.6076));
		/* Where: 0.6944 = 100 * font-size_difference / viewport_width_difference */

		/* Safari resize fix */
		min-height: 0vw;
	}
}
/* Prevent scaling beyond this breakpoint */
@media (min-width: 90rem) {
	:root {
		--font-size: 1.375rem;
	}
}

/*** "light--hidden" elements will be hidden **/
/*** when the site is set to Light Mode *******/
:root[color-mode='light'] .light--hidden {
	display: none;
}

/*** "dark--hidden" elements will be hidden ***/
/*** when the site is set to Dark Mode ********/
:root[color-mode='dark'] .dark--hidden {
	display: none;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-family: var(--font-family);
	font-weight: 600;

	/* border: 1px dotted var(--yellow-4); */
	/* transition: all 400ms; */
}

html[color-mode='light'] {
	--color-bg-1: var(--gray-2);
	--color-bg-2: var(--indigo-5);
	--color-bg-3: var(--indigo-3);
	--color-bg-readout: var(--gray-0);
	--color-text-1: var(--gray-8);
	--color-text-2: var(--gray-2);

	--color-num-btn-1: var(--gray-8);
	--color-num-btn-2: var(--gray-3);
	--color-num-btn-3: var(--gray-5);
	--color-oper-btn-1: var(--orange-2);
	--color-oper-btn-2: var(--orange-4);
	--color-oper-btn-2: var(--yellow-5);
	--color-func-btn-1: var(--gray-8);
	--color-func-btn-2: var(--gray-5);
	--color-func-btn-2: var(--indigo-3);
	--color-func-btn-3: var(--gray-5);
}

html[color-mode='dark'] {
	--color-bg-1: var(--gray-9);
	--color-bg-2: var(--indigo-7);
	--color-bg-3: var(--indigo-5);
	--color-bg-readout: var(--gray-9);
	--color-text-1: var(--gray-3);
	--color-text-2: var(--gray-9);

	--color-num-btn-1: var(--gray-3);
	--color-num-btn-2: var(--gray-7);
	--color-num-btn-3: var(--gray-5);
	--color-oper-btn-1: var(--orange-2);
	--color-oper-btn-2: var(--orange-5);
	--color-oper-btn-3: var(--yellow-5);
	--color-func-btn-1: var(--gray-3);
	--color-func-btn-2: var(--indigo-5);
	--color-func-btn-3: var(--gray-5);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: var(--color-bg-1);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	grid-column: span 4;
}

main {
	display: -ms-grid;
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(4, calc(var(--font-size) * 4));
	grid-template-rows: repeat(6, calc(var(--font-size) * 4));
	gap: calc(var(--font-size) * 0.75);

	margin: calc(var(--font-size) * 1);
	padding: calc(var(--font-size) * 0.75);
	border-radius: calc(var(--font-size) * 0.375);
	background-color: var(--color-bg-2);
}

svg {
	background-color: inherit;
	stroke-width: 0;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px;

	height: calc(var(--font-size) * 4);

	cursor: pointer;
	outline: none;
	border: none;

	background-color: var(--color-num-btn-2);
	border-radius: calc(var(--font-size) * 0.25);
	fill: var(--color-text-1);
}

button.operator {
	background-color: var(--color-oper-btn-2);
}

button.function {
	background-color: var(--color-func-btn-2);
}

button > svg {
	height: calc(var(--font-size) * 4);
	width: calc(var(--font-size) * 4);
	border-radius: inherit;
}

button.operator > svg,
button.function > svg {
	height: calc(var(--font-size) * 2.5);
	width: calc(var(--font-size) * 2.5);
}

button:hover,
button:active {
	background-color: var(--color-text-1);
}

button:hover > svg,
button:active > svg {
	fill: var(--color-text-2);
}

.header-svg {
	height: calc(var(--font-size) * 1.75);
	width: calc(var(--font-size) * 1.75);
	background-color: inherit;
	stroke-width: 0px;
}

.header-svg:active,
.header-svg:hover {
	fill: inherit;
}

.header-btn {
	height: calc(var(--font-size) * 2);
	width: calc(var(--font-size) * 2);
	padding: calc(var(--font-size) * 0.125);
	display: flex;
	justify-content: center;
	align-items: center;
	/* border-radius: 50%; */
	border-radius: calc(var(--font-size) * 0.25);

	background-color: inherit;
}

.header-btn:active,
.header-btn:hover {
	background-color: var(--color-bg-3);
}

.heading {
	margin: calc(var(--font-size) * 0.5) calc(var(--font-size) * 0.25)
		calc(var(--font-size) * 0.25);
	color: var(--color-text-2);
	font-size: calc(var(--font-size) * 2);
}

.readout {
	grid-column: 1 / 5;
	background-color: var(--color-bg-readout);
	border-radius: calc(var(--font-size) * 0.375);
	padding: calc(var(--font-size) * 0.25) calc(var(--font-size) * 0.75);
	color: var(--color-text-1);
	font-size: calc(var(--font-size) * 1);
	letter-spacing: calc(var(--font-size) * 0.125);
}

.previous-operand,
.current-operand {
	text-align: right;
}

.previous-operand {
	color: var(--color-bg-2);
}

.current-operand {
	font-size: calc(var(--font-size) * 2);
}

.double-wide {
	grid-column: span 2;
}

.light--hidden > svg,
.dark--hidden > svg {
	fill: var(--color-text-1);
	border-radius: inherit;
}
