@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@100..900&family=Sansita+Swashed:wght@700&display=swap');

:root {
	--font-cursive: 'Sansita Swashed', cursive, serif;
	--font-reg: 'Fredoka', system-ui, -apple-system, Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;

	font-family: var(--font-reg);
	font-weight: 400;
	font-size: 20px;

	/* border: 1px dotted #e9ecef; */
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-bottom: 4rem;

	background-color: #8a1d1d;
	color: #f8f9fa;
}

header {
	width: 992px;
	padding: 0;
	margin: 0;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

h1 {
	font-family: var(--font-cursive);
	font-size: 3.5rem;

	color: #ffec99;

	padding: 1rem;
	filter: drop-shadow(3px 3px 1px #22262a);
}

h2 {
	padding: 1rem;

	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 1px;

	color: #ffec99;
}

p {
	padding: 0.75rem 1rem;

	font-size: 1rem;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.75rem 1rem;
	width: 100%;

	font-size: 1.15rem;
	font-weight: 700;

	background-color: #ffec99;
	border: none;
	border-radius: 8px;
	/* box-shadow: 2px 2px 4px 2px hsla(210, 11%, 15%, 0.4); */
	color: #8a1d1d;

	cursor: pointer;
}

button:hover,
button:active {
	background-color: #adb5bd;
	box-shadow: inset 1px 1px 2px 2px hsla(210, 11%, 15%, 0.4);
	color: #212529;
}

svg {
	height: 1.5rem;
	width: 1.5rem;
	margin: 0rem 0.5rem 0 0;
}

footer {
	/* width: 992px; */
	/* padding: 0; */
	/* margin: 0; */

	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	text-align: center;
}

footer p,
footer a {
	font-size: 0.75rem;
	line-height: 1.5;
}

a,
a:visited {
	padding: 2px 4px;

	border-radius: 4px;
	color: #66d9e8;
	text-decoration: none;
}

a:hover,
a:active {
	background-color: #66d9e8;
	color: #8a1d1d;
}

/* This is to keep the HEADER balanced */
.btn_holder {
	width: 150px;
}

.main_container {
	width: 992px;
	height: 992px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #adb5bd;
	border-radius: 30px;

	box-shadow: inset 2px 2px 6px 4px hsla(210, 11%, 15%, 0.4),
		inset -2px -2px 6px 4px hsla(210, 11%, 15%, 0.4),
		-2px -2px 4px 4px hsla(210, 11%, 15%, 0.4),
		2px 2px 4px 4px hsla(210, 11%, 15%, 0.4);
}

.square_container {
	width: 960px;
	height: 960px;

	background-color: #adb5bd;
	/* border: 1px solid #e9ecef; */
}

/************************************************************************/
/**************************** code for MODAL ****************************/
/************************************************************************/
.modal-reset__container {
	opacity: 0;

	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;

	pointer-events: none;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: hsla(0, 0%, 0%, 0.6);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	border-radius: 0;
}

.modal-reset__container.show {
	opacity: 1;

	pointer-events: auto;
}

.modal-reset {
	padding: 1rem 1.5rem;
	width: 700px;

	background-color: #8a1d1d;
	border-radius: 16px;
	box-shadow: 4px 4px 16px 8px hsla(210, 11%, 15%, 0.4);
}

.modal-reset__btn-container {
	display: flex;
	justify-content: space-between;

	padding: 1rem;
}

.reset-yes,
.reset-no {
	width: 280px;
}

.reset-no {
	background-color: transparent;
	color: #ffec99;
}
