@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@400;700&family=Outfit&display=swap');

:root {
	--font-size: 0.875rem;
	--font-size: calc(0.875rem + 0.5 * ((100vw - 20rem) / 60));
	--font-fun: 'Grandstander', Arial, sans-serif;
	--font-serious: 'Outfit', Verdana, sans-serif;
	--size-icon-reg: calc(var(--font-size) * 2);
	--size-icon-score: calc(var(--font-size) * 1.6);
	/* --size-icon-reg: clamp(2rem, 3rem, 4rem); */
	/* --size-icon-score: clamp(1.5rem, 1.8rem, 2.4rem); */
	/* --size-icon-reg: clamp(40px, 96px, 144px); */
	/* --size-icon-reg: clamp(20vw, 3vw, 5vw); */
	/* --color-player-two: rgb(105, 105, 230); */
	/* --color-player-one: #4f0113; */
	/* --color-player-one: #241130; */
	/* --color-player-two: #ff876c; */
	/* --color-player-three: #ffd1c7; */
	--color-player-one: #1f0f29;
	--color-player-two: #caa6df;
	--color-player-three: #e6d5f0;
	--color-player-four: #5b2b77;
	--color-computer-one: #555;
	--color-computer-two: #ccc;
	--shadow-on: 2px 2px 12px -6px var(--color-player-one);
	--shadow-off: 0px 0px 0px 0px var(--color-player-one);
}

/* @media screen and (min-width: 20rem) {
	:root {
		--font-size: calc(0.875rem + 0.5 * ((100vw - 20rem) / 60));
	}
} */

/* @media screen and (min-width: 90.05rem) {
	:root {
		--font-size: 1.375rem;
	}
} */

*,
*::before,
*::after {
	font-size: var(--font-size);
	box-sizing: border-box;
	margin: 0;
	font-family: var(--font-fun);
	color: #971c00;
	color: var(--color-player-three);
	border-radius: calc(var(--font-size) * 0.5);
	/* border: 1px dotted steelblue; */
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-player-three);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: clamp(0.5rem, 1rem, 2rem);
	padding: calc(var(--font-size) * 0.75);
	margin: clamp(0rem, 0.5rem, 1rem);
	margin: calc(var(--font-size) * 0.5) calc(var(--font-size) * 0.15);
	background-color: #a05fc5;
	background-color: var(--color-player-four);
	max-width: calc(var(--font-size) * 32);
	/* background-color: var(--color-player-two); */
	/* background-color: #a5a7df; */
	/* background-color: #dfa5ba; */
	/* background-color: #dfada5; */
	/* height: 100vh; */
	/* max-width: 750px; */
	/* max-width: 60ch; */
	/* max-width: 70rem; */
}

h1 {
	font-size: clamp(1.5rem, 3rem, 4rem);
	font-size: calc(var(--font-size) * 2.2);
	font-weight: 700;
	text-align: center;
	margin-bottom: 1rem;
	margin-bottom: calc(var(--font-size) * 1);
}

h2 {
	font-size: clamp(1.5rem, 2.5vw, 4vw);
	font-size: calc(var(--font-size) * 1.35);
	font-style: italic;
}

h3 {
	font-size: clamp(1.25rem, 1.5rem, 2rem);
	font-size: calc(var(--font-size) * 1.25);
	font-weight: 700;
	margin: 0;
	padding: 0.25rem 0 0rem 0.5rem;
	padding: calc(var(--font-size) * 0.25) calc(var(--font-size) * 0.5) 0;
	border: none;
	color: var(--color-player-one);
}

/** Hide the Computer's Rock,*/
/** Paper, Scissors options  */
h3.computer {
	color: var(--color-player-three);
}

fieldset {
	border: none;
}

legend {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

button {
	padding: 0;
}

footer {
	padding: 0 0 calc(var(--font-size) * 2);
	font-family: var(--font-serious);
	font-size: calc(var(--font-size) * 0.6);
	color: var(--color-player-four);
}

.game-play {
	background-color: var(--color-player-one);
	border: 3px solid var(--color-player-three);
	width: 100%;
	margin: 1rem 0;
	margin: calc(var(--font-size) * 1) 0;
	padding: 1rem;
	padding: calc(var(--font-size) * 1);
	display: flex;
	justify-content: space-between;
}

.game-play-text {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: calc(var(--font-size) * 0.5);
	color: var(--color-player-three);
	width: 100%;
}

.game-text {
	font-size: clamp(1rem, 1.5rem, 2rem);
	font-size: calc(var(--font-size) * 1);
	line-height: 1.2;
}

.reset {
	align-self: flex-end;
	padding: 0.5rem 0.75rem 0.25rem;
	padding: calc(var(--font-size) * 0.5) calc(var(--font-size) * 0.75)
		calc(var(--font-size) * 0.25);
	font-size: calc(var(--font-size) * 0.75);
	border: 1px solid var(--color-player-three);
	background-color: var(--color-player-one);
}

.reset:hover {
	background-color: var(--color-player-three);
	color: var(--color-player-one);
}

.game-play-header-text {
	background-color: var(--color-player-three);
	border: 3px solid var(--color-player-three);
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 1rem;
	gap: calc(var(--font-size) * 1);
	font-size: clamp(1.25rem, 1.5rem, 2rem);
	font-size: calc(var(--font-size) * 1.25);
	font-weight: 700;
	color: var(--color-player-one);
	padding: 0.25rem;
	padding: calc(var(--font-size) * 0.25);
}

.score-header-text {
	background-color: var(--color-player-three);
	/* border: 3px solid var(--color-player-one); */
	font-size: clamp(1.25rem, 1.5rem, 2rem);
	font-size: calc(var(--font-size) * 1.25);
	font-family: var(--font-fun);
	font-weight: 700;
	color: var(--color-player-one);
	padding: 0.25rem 0 0;
	padding: calc(var(--font-size) * 0.25) 0 0;
	margin: auto;
}

.game-score-text {
	font-size: clamp(1.25rem, 1.5rem, 2rem);
	font-size: calc(var(--font-size) * 1.25);
	padding: 0;
	margin: 0;
}

.pScore,
.cScore {
	display: flex;
	text-align: center;
	justify-content: space-around;
	flex-wrap: nowrap;
	padding: 0.25rem 0.25rem 0;
	padding: calc(var(--font-size) * 0.25) calc(var(--font-size) * 0.25) 0;
	gap: 0.5rem;
	gap: calc(var(--font-size) * 0.5);
	border: 2px solid var(--color-player-one);
}

#playerScore,
#computerScore {
	font-size: clamp(1.5rem, 2rem, 3rem);
	font-size: calc(var(--font-size) * 1.5);
	font-family: var(--font-fun);
	font-weight: 700;
	color: var(--color-player-one);
	margin: auto;
	padding: 0;
	width: clamp(1.5rem, 1.8rem, 2.4rem);
	width: calc(var(--font-size) * 1.5);
}

.choice-player,
.choice-computer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 0.5rem;
	gap: calc(var(--font-size) * 0.5);
	padding: 1rem 0;
	padding: calc(var(--font-size) * 1) 0;
}

.player-section,
.computer-section {
	background-color: var(--color-player-three);
	margin: 1rem 0;
	margin: calc(var(--font-size) * 1) 0;
	padding: 0 1rem;
	padding: 0 calc(var(--font-size) * 1);
	width: 100%;
}

.computer-section {
	margin: 1rem 0 0;
	margin: calc(var(--font-size) * 1) 0 0;
}

.player-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0 0;
	padding: calc(var(--font-size) * 1) 0 0;
}

.player-header-text {
	background-color: var(--color-player-two);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
	gap: calc(var(--font-size) * 0.5);
	font-size: clamp(1rem, 1.25rem, 1.5rem);
	font-size: calc(var(--font-size) * 1);
	font-family: var(--font-fun);
	font-weight: 700;
	color: var(--color-player-one);
	padding: 0.25rem 0.75rem;
	padding: calc(var(--font-size) * 0.25) calc(var(--font-size) * 0.75);
	/* border: 3px solid var(--color-player-one); */
}

/* .player-header-score {
	background-color: var(--color-player-two);
	display: flex;
	justify-content: center;
	align-items: flex-end;
	font-size: 2rem;
	font-family: var(--font-serious);
	font-family: var(--font-fun);
	font-weight: 700;
	color: var(--color-player-one);
	padding: 0.25rem 1rem 0;
	width: 2.5rem;
	height: 2.5rem;
	margin-top: -2.5rem;
	margin-left: 94%;
} */

#computer-rock,
#computer-paper,
#computer-scissors,
#player-rock,
#player-paper,
#player-scissors {
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 12rem; */
	width: calc(var(--font-size) * 10);
	/* width: minMax(calc(var(--font-size) * 40),); */
	flex: 1;
	padding: 0 0 0 0.75rem;
	padding: 0 0 0 calc(var(--font-size) * 0.75);
}

#computer-rock,
#computer-paper,
#computer-scissors {
	background-color: var(--color-player-three);
	fill: var(--color-player-three);
	color: var(--color-player-three);
}

#player-rock,
#player-paper,
#player-scissors {
	background-color: var(--color-player-three);
	border: 3px solid var(--color-player-four);
	box-shadow: var(--shadow-on);
}

#player-paper:hover,
#player-scissors:hover,
#player-rock:hover {
	box-shadow: var(--shadow-off);
	background-color: var(--color-player-two);
	border: 3px solid var(--color-player-two);
}

#player-paper:active,
#player-scissors:active,
#player-rock:active {
	box-shadow: var(--shadow-off);
	background-color: var(--color-player-four);
	border: 3px solid var(--color-player-four);
	color: var(--color-player-three);
}

svg {
	/* border-radius: 0; */
	margin: 0;
}

.svg-rock-computer,
.svg-paper-computer {
	fill: var(--color-computer-three);
	width: var(--size-icon-reg);
	height: var(--size-icon-reg);
	transform: rotate(-90deg) rotateY(180deg);
}
.svg-scissors-computer {
	fill: var(--color-computer-three);
	width: var(--size-icon-reg);
	height: var(--size-icon-reg);
	transform: rotateY(180deg);
}

.svg-rock-player,
.svg-paper-player {
	fill: var(--color-player-one);
	width: var(--size-icon-reg);
	height: var(--size-icon-reg);
	transform: rotate(90deg);
}

.svg-scissors-player {
	fill: var(--color-player-one);
	width: var(--size-icon-reg);
	height: var(--size-icon-reg);
}

.svg-bot-icon,
.svg-user-icon,
.svg-tie-icon {
	fill: var(--color-player-one);
	width: var(--size-icon-score);
	height: var(--size-icon-score);
}
